.container {
  display: flex;
  min-width: 100%;
}

.gutter {
  min-width: 25%;
}

.content {
  width: 75%;
  padding-right: 24px;
}

.heading {
  font-weight: bold;
}

.header-container {
  display: flex;
  align-content: center;
  justify-content: space-between;
  align-items: center;
}

.rating-button {
  color: #009378;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 28px;
  text-align: center;
  border: 1px solid #009378;
  border-radius: 10px;
  background-color: #ffffff;
  padding: 6px 64px;
  cursor: pointer;
}

.stepper {
  margin-top: 29px;
}
