.container {
  display: flex;
  min-width: 100%;
}

.gutter {
  min-width: 25%;
}

.content {
  width: 75%;
  padding-right: 24px;
}

.heading {
  font-weight: bold;
}

.header-container {
  display: flex;
  align-content: center;
  justify-content: space-between;
  align-items: center;
}

.rating-button {
  color: #009378;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 28px;
  text-align: center;
  border: 1px solid #009378;
  border-radius: 10px;
  background-color: #ffffff;
  padding: 6px 64px;
  cursor: pointer;
}

.stepper {
  margin-top: 29px;
}

.MuiButtonBase-root.MuiButton-root.MuiButton-contained {
  margin-top: 23px;
  color: #ffff;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 28px;
  text-align: center;
  background: #009378;
  border-radius: 10px;
  padding: 6px 64px;
}

.category-heading {
  font-size: 23px;
  font-weight: 600;
  line-height: 40px;
  color: #233f4d;
}

.category-body {
  color: #3b5e71;
  font-style: normal;
}

.category-body.css-ahj2mt-MuiTypography-root {
  font-family: "Source Sans Pro";
  margin-bottom: 8px;
  margin-left: 3px;
}

.radio-description {
  font-style: normal;
  color: #233f4d;
  padding-left: 10px;
}

.radio-description.css-ahj2mt-MuiTypography-root {
  font-family: "Source Sans Pro";
  margin-top: -6px;
}

.MuiTypography-root.MuiTypography-body1.MuiFormControlLabel-label.css-ahj2mt-MuiTypography-root {
  line-height: 18px;
}

.MuiFormControlLabel-label.css-ahj2mt-MuiTypography-root {
  font-size: 19px;
  color: #162d39;
}

.MuiInputBase-root.MuiOutlinedInput-root.MuiInputBase {
  height: 36px;
}

.text-field-container {
  position: relative;
}

.information-icon {
  position: absolute;
  top: -21px;
  left: 309px;
}

.input-text {
  margin-top: 6px;
  width: 330px;
  height: 36px;
  background: #f7f7f7;
  box-shadow: 0px 4px 16px rgba(6, 26, 35, 0.1);
  border: none;
}

.error {
  color: tomato;
}

input[type="text"] {
  border: none;
  border-color: transparent;
}

.cr-number {
  margin-top: 12px;
}

.label {
  width: 330px;
  height: 36px;
  border-top: 1px solid #577485;
  margin-top: 4px;
}

.input-label {
  margin-left: 11px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: #577485;
}

.input-text.transparent-input {
  background-color: white;
  border: none;
  box-shadow: none;
}

.cr-issue {
  display: flex;
  gap: 250px;
  margin-top: 12px;
}

.cr-license {
  display: flex;
  gap: 118px;
}

.cr-input {
  display: flex;
  gap: 28px;
  margin-top: 20px;
}

.margin {
  margin-left: -31px;
}

.license {
  margin-top: 12px;
}

.licenses-date {
  display: flex;
  gap: 138px;
}

input[type="file"] {
  display: none;
}

.custom-file-upload {
  border: 1px solid #ccc;
  display: inline-block;
  cursor: pointer;
  background: #009378;
  border-radius: 10px;
  color: #ffffff;
  padding: 5px 30px;
  font-weight: 600;
  font-size: 16px;
  line-height: 28px;
  margin-top: 20px;
  margin-left: 22px;
  margin-bottom: 12px;
}

.file-instructions {
  margin-left: 20px;
}

.company-info-btn {
  display: flex;
  gap: 24px;
  margin-top: 12px;
}

.MuiButtonBase-root.MuiButton-root.MuiButton-outlined.MuiButton-outlinedPrimary {
  border: 1px solid #ccc;
  display: inline-block;
  border-radius: 10px;
  color: #ffffff;
  padding: 0px 24px;
  font-weight: 600;
  font-size: 16px;
  line-height: 28px;
}

.previous {
  margin-top: 27px;
}

.tag {
  display: inline;
  width: 150;
  height: 150px;
  padding: 5px 15px;
  background: #e8ecef;
  border-radius: 4px;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #3b5e71;
  margin-left: 8px;
}

.tags {
  border-top: 1px solid #577485;
  padding-top: 6px;
}

.file-card {
  background: #fafafa;
  border: 1px solid #beced6;
  border-radius: 4px;
}

.previous-btn {
  color: #009378;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 28px;
  text-align: center;
  border: 1px solid #009378;
  border-radius: 10px;
  background-color: #ffffff;
  padding: 6px 64px;
  cursor: pointer;
}

.rowC {
  display: flex;
  flex-direction: row;
}

.circle {
  border-radius: 50%;
  width: 10px;
  height: 10px;
  padding: 8px;
  margin-right: 8px;
  background: #fff;
  border: 2px solid #666;
  color: #666;
  text-align: center;
  font: 10px Arial, sans-serif;
}

.active-circle {
  border-radius: 50%;
  width: 10px;
  height: 10px;
  padding: 8px;
  margin-right: 8px;
  color: #166ee0;
  background: #fff;
  border: 2px solid #166ee0;
  text-align: center;
  font: 10px Arial, sans-serif;
  background: #e2f1ff;
}

.MuiAccordionSummary-content.css-1betqn-MuiAccordionSummary-content {
  align-items: center;
}

.success-icon {
  width: 30px;
  height: 30px;
  margin-right: 8px;
}
