*,
html {
  font-family: "Source Sans Pro";
}

body {
  font-family: "Source Sans Pro";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0px;
  height: 100%;
  background: #fbfbfb;
}

code {
  font-family: "Source Sans Pro";
}
